html {
    --s: 86px;
    --a: 60deg;
    
    --g:#0000 45%,#79B4B7 46% 54%,#0000 55%;
    background:
      linear-gradient(var(--a), var(--g)),
      linear-gradient(calc(-1*var(--a)),var(--g))
      #70a8ab;
    background-size: var(--s) calc(tan(var(--a))*var(--s))
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    font-family: arial;
    color: #fdfff8;
}

header {
    display: flex;
    text-align: center;
    text-shadow: 1px 1px 2px #C7CFB7;
}

nav {
    font-size: 1.2rem;
    margin-block: 1em;
}

a {
    color: inherit;
}