html {
    --s: 86px;
    --a: 60deg;
    
    --g:#0000 45%,#79B4B7 46% 54%,#0000 55%;
    background:
      linear-gradient(var(--a), var(--g)),
      linear-gradient(calc(-1*var(--a)),var(--g))
      #70a8ab;
    background-size: var(--s) calc(tan(var(--a))*var(--s))
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .map {
    height: 50%;
  }

  .places-list {
    background-color: #accecf;
    min-width: 300px;
    height: 50%;
  }

  .places-list h3 {
  display:inline-block;
  }